<div id="Team<%= team %>-Editor" uk-modal>
	<div class="uk-modal-dialog">

		<button class="uk-modal-close-default" type="button" uk-close></button>

		<div class="uk-modal-header">
			<span class="uk-modal-title">Team<%= team %>'s property editor</span>
		</div>

		<div class="uk-modal-body" uk-overflow-auto>
			<div>
				<span>Name : </span>
				<input type="text" id="<%= team %>-NameValue" class="uk-input uk-form-width-medium uk-form-small">
			</div>
			<form class="dropzone uk-margin-small" id="Logo<%= team %>-Upload">
				<input type="file" name="file" style="display: none;" />
			</form>
				<span uk-icon="icon: warning" class="uk-text-warning"></span>
				<span class="uk-text-bold uk-text-warning">Warning! </span>
				<span class="uk-text-light">Please re-show the score bar to reload the logo's images.</span>
			
		</div>

		<div class="uk-modal-footer uk-text-right">
			<button class="uk-button uk-button-primary uk-modal-close" type="button"
				onclick="updateName('<%= team %>', document.getElementById('<%= team %>-NameValue').value);
				document.getElementById('Team<%= team %>-Logo').src = `/uploads/Logo<%= team %>.png?${new Date().getTime()}`">Save</button>
		</div>

	</div>
</div>